@import "../../../App.scss";

.title {
  font-size: 135px;
  line-height: 204px;
  color: #ffc737;
  font-weight: 800;
  font-family: "NexaBold";
  filter: drop-shadow(0px 22px 10.5px #000000);
  z-index: 1;
  @media (max-width: 992px) {
    font-size: 100px;
  }
  @media (max-width: 718px) {
    font-size: 55px;
  }
  @media (max-width: 400px) {
    font-size: 45px;
  }
}
