.container {
  // flex justify-between items-center px-36 py-20
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 105px 115px;
  @media (max-width: 965px) {
    flex-direction: column-reverse;
    padding: 125px 45px;
  }

  @media (max-width: 600px) {
    padding: 120px 20px;
  }
  .nft {
    max-width: 580px;
    width: 100%;
    height: auto;
    div {
      position: relative;
      width: 100%;
      padding-bottom: 135%;
      border-radius: 60px;
      border: 2px white solid;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      overflow: hidden;
      &::after {
        content: "";
        position: absolute;
        top: -30%;
        left: -25%;
        right: 0;
        bottom: 0;
        background-image: url(.././../../assets/shine.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 105%;
        z-index: 5;
      }
      img {
        object-fit: cover;
        width: 100%;
        padding-bottom: 122%;
      }
    }
  }

  .detail {
    position: relative;
    z-index: 10;
    max-width: 930px;
    width: 100%;
    @media (max-width: 965px) {
      margin-bottom: 60px;
    }
    h6 {
      font-size: 15px;
      color: white;
      font-family: NexaBook;
    }
    img {
      width: 130px;
      height: 130px;
      object-fit: cover;
      border: 2px solid white;
      border-radius: 25px;
    }
    div:last-child {
      position: relative;
      color: white;
      background: rgba(32, 34, 36, 0.5);
      border-radius: 60px;
      padding-bottom: 15px;
      margin-left: 30px;
      margin-right: 30px;
      z-index: 5;
      h5 {
        font-family: NexaBook;
        font-size: 36px;
      }
      h4 {
        font-family: NexaBook;
        font-size: 20px;
      }
      h1 {
        font-size: 83px;
        font-family: GothamBlack;
      }
      span {
        color: gray;
        font-size: 30px;
        margin-top: -25px;
        margin-bottom: 12px;
      }
      .buyBtn {
        font-family: NexaBold;
        font-size: 32px;
        color: #2c2c2d;
        background: linear-gradient(299deg, #cabc2b 30%, #fbed5a 46%, #cabc2b 100%, transparent);
        padding: 1px 30px;
        margin-bottom: 10px;
        border-radius: 30px;
      }
      .offerBtn {
        font-family: NexaBold;
        font-size: 32px;
        color: white;
        padding: 1px 20px;
        border: 3px solid white;
        border-radius: 30px;
        margin-top: 15px;
      }
      &::before {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: -18px;
        bottom: -18px;
        border-bottom-left-radius: 45px;
        border-top-right-radius: 45px;
        border-bottom-right-radius: 60px;
        border-bottom: 2px solid #2d2e30;
        border-right: 2px solid #2d2e30;
        z-index: -1;
        @media (max-width: 965px) {
          display: none;
        }
      }
      @media (max-width: 1355px) {
        h5 {
          font-size: 20px;
        }
        h4 {
          font-size: 16px;
        }
        h1 {
          font-size: 60px;
          font-family: GothamBlack;
        }
        .buyBtn {
          font-size: 20px;
        }
        .offerBtn {
          font-size: 20px;
        }
      }
    }
  }
}
