@import "../../../App.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
  position: relative;
  font-size: 37px;
  color: #ffffff;
  height: 120px;
  font-family: GothamBlack;
  transition: height 0.5s ease;
  &::after {
    position: absolute;
    content: "";
    background-color: #202224;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
  }
  .logo {
    cursor: pointer;
    width: 80px;
    z-index: 5;
    height: auto;
    -webkit-filter: drop-shadow(0px 0px 30px rgba(255, 255, 255, 0.5));
    filter: drop-shadow(0px 0px 30px rgba(255, 255, 255, 0.5));
    transition: width 0.5s ease;
  }
  h1 {
    font-size: 61px;
    line-height: 84px;
    color: #fff;
    font-weight: 800;
    font-family: "GothamBlack";
    text-align: center;
    z-index: 1;
    span {
      color: #1d1d1f;
      text-shadow: 1px 1px 0px white, -1px -1px 0px white, -1px 1px 0 white, 1px -1px 0 white;
    }
    @media (max-width: 1355px) {
      font-size: 36px;
    }
    @media (max-width: 753px) {
      display: none;
    }
  }
  @media (max-width: 1024px) {
    height: 100px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    .logo {
      width: 80px;
    }
  }
  .hamburger {
    width: 40px;
    height: 40px;
    z-index: 1;
    span {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 40px;
      height: 7px;
      background-color: #fff;
      border-radius: 2px;
      transition: 0.5s ease;
      transition-property: width, background-color;
      &:first-child {
        margin-top: 0;
      }
      &:nth-child(2) {
        margin-top: 7px;
      }
      &:last-child {
        margin-top: 7px;
      }
    }
    @media (max-width: 1024px) {
      display: block;
    }
    @media (max-width: 553px) {
      span {
        width: 30px;
        height: 5px;
      }
    }
  }
  .walletBtn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    font-family: NexaBook;
    padding: 20px;
    background: linear-gradient(to right, #ffa800, #fff600, orange);
    border-radius: 40px;
    z-index: 5;
    margin-left: 50px;
    margin-right: 50px;
    white-space: nowrap;
    transition: transform 0.3s;
    &:hover {
      transform: translateY(-5px);
    }
    &:active {
      transform: translateY(0px);
    }
    @media (max-width: 1474px) {
      margin-left: 10px;
      margin-right: 10px;
      font-size: 19px;
      padding: 10px 20px;
    }
    @media (max-width: 553px) {
      font-size: 10px;
    }
    &::before {
      content: "";
      position: absolute;
      background: #202123;
      top: 3px;
      right: 3px;
      bottom: 3px;
      left: 3px;
      z-index: -1;
      border-radius: 40px;
    }
  }
  .dropdown {
    top: 105px;
    right: 10px;
  }
}
