@import "../../../App.scss";

.container {
  padding-top: 190px;
  padding-bottom: 160px;
  a {
    display: flex;
    align-items: center;
    font-size: 80px;
    font-family: "GothamBlack";
    border-radius: 60px;
    border: 5px solid #001518;
    color: #001417;
    background-color: white;
    padding: 0px 26px;
    box-shadow: 0 0 0 10px white;
    margin-bottom: 40px;
    margin-top: 40px;
    &:hover {
      img {
        margin-left: 18px;
      }
    }
    img {
      height: 75px;
      margin-left: 10px;
      margin-right: 10px;
      transition: margin 0.3s;
      @media (max-width: 800px) {
        height: 40px;
      }
      @media (max-width: 500px) {
        height: 25px;
      }
    }
    @media (max-width: 800px) {
      font-size: 50px;
      margin-bottom: 20px;
      margin-top: 20px;
    }
    @media (max-width: 500px) {
      font-size: 30px;
    }
    @media (max-width: 400px) {
      font-size: 25px;
    }
  }
  @media (max-width: 500px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
